  <!DOCTYPE html>
   <html>
   <head>
     <title>INICIO SESION</title>
  {% load static %}    
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
   </head>
   <body> 



<div class="container">
<br>
        <br>

  <h3>FORMULARIO INICIO SESION</h3>       
   {% load crispy_forms_tags %}
   <form method="POST">

{% csrf_token %}

   {{ form | crispy }}
   <input type="submit" value="Iniciar Sesion" class="btn btn_success" style="background-color:#337ab7;">
    <input type="reset" value="Limpiar" class="btn btn_info" style="background-color:#337ab7;">

    <a href="{% url 'password_reset' %}" style="color: blue; text-decoration: none;">Olvidé mi contraseña</a>
        <br>
        <br>
   
<br>
  
</form>

 <a href="{% url 'social:begin' 'facebook' %}" text-align="right"><button style="float: center; width:30%; padding:10px 12px; "  type="submit" class="btn btn-success">Iniciar Sesion con Facebook&raquo;</button></a>
<br>
<br>
<br>
<h4>¿No estas Registrado?<a href="/register" style="color: gold; text-decoration: none">   Registrate aqui</a></h4>
  
<div class="float-right">
        
        <p><a href="{% url 'base' %}" text-align="right"><button style=" "  type="submit" class="btn btn-success">Volver al Inicio&raquo;</button></a></p>
        </div>



  </body>
  </html>