 <!DOCTYPE html>
   <html>
   <head>
     <title>FORMULARIO DE REGISTRO</title>
  {% load static %}    
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   </head>
   <body>

 <!--FORMULARIO REGISTRO!-->

 <div class="container">
<br>
        <br>
     <h3>FORMULARIO DE REGISTRO</h3>
{% load crispy_forms_tags %}

        <form method="POST">
     
        
   {{ form | crispy }}
 
 
          {% csrf_token %}

          <input type="submit" value="Guardar" class="btn btn_success" style="background-color:#337ab7;">
          <input type="reset" value="Limpiar" class="btn btn_info" style="background-color:#337ab7;">
        </form>
        <br>
<h4>¿Ya estas Registrado?<a href="/login" style="color: gold; text-decoration: none">   Iniciar sesión</a></h4>
        <div class="float-right">
        
        <p><a href="{% url 'base' %}" text-align="right"><button style=" "  type="submit" class="btn btn-success">Volver al Inicio&raquo;</button></a></p>
        </div>
        

        
</div>
      
  </body>
  </html>