<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recetas Caseras</title>
    {% load static %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
   <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/font-awesome.min.css' %}"/>
     
      
            <script src="{% static 'core/js/jquery.js' %}"></script>
            <script src="{% static 'core/js/main.js' %}"></script>
            <script src="{% static 'core/js/filtro.js' %}"></script>

</head>


 

<body class="hidden" >

    
        <header>
            
                <nav id="nav" class="nav1">
                    <div class="contenedor-nav">
        
                                  
                        <div class="logo">
                              <a href="{% url 'base' %}"> <img src="{% static 'core/img/logo.png' %}" alt=""></a>  
                         
                        </div>
                        <div class="enlaces" id="enlaces">
                            <a href="{% url 'base' %}" id="enlace-inicio" class="btn-header">Inicio</a>
                            <a href="#" id="enlace-equipo" class="btn-header">Quienes Somos</a>
                            <a href="#" id="enlace-servicio" class="btn-header">Recetas Destacadas</a>
                            <a href="#" id="enlace-trabajo" class="btn-header">Galeria</a>
                            <a href="{% url 'Contacto' %}" >Contacto</a>
                           
                            
                            {% if user.is_authenticated %}
                            <a href="#"> Bienvenido/a: {{ user.username }}</a>
                            <a href="{% url 'CuentaCliente' %}">Tu cuenta</a>
                            <a href="/logout">Cerrar sesión</a>

                            {% else %}
                            
                            <a href="{% url 'login' %}" ><button  style="background-color:#5cb85c; width=30%; padding:10px;10px;" type="submit" class="btn btn-success">Iniciar Sesion</button></a>
                            <a href="{% url 'register' %}" ><button  style="background-color:#5cb85c; width=30%; padding:10px;10px;" type="submit" class="btn btn-success">Registrar</button></a>
                            {% endif %}
              

    

                        </div>
                        <div class="icono" id="open"  >
                            <span>&#9776;</span>
                        </div>
                    </div>
                </nav>
                <div class="textos"  style="background-image: url( {% static 'core/img/as.jpg' %}" >
        
            <div class="concord-img-gradient"></div>
            
                    <h1 style="font-size: 6.125rem; color:black;">Venta de Dulces y Postres Caseros</h1>
                    <h2 style="color:black;">Registrate y realiza Pedidos a Domicilio</h2>
                    
                    <p ><a href="{% url 'login' %}" ><button style="background-color:#337ab7; width=30%; padding:13px;13px;" type="submit" class="btn btn-success">Iniciar Sesion&raquo;</button></a>
                    <a href="{% url 'register' %}" ><button style="background-color:#337ab7; width=30%; padding:13px;13px;" type="submit" class="btn btn-success">Registrar&raquo;</button></a></p>
                     
                </div>
            </header>





    
            <main>
        
                    <section class="team contenedor" id="equipo">
                          
                        
                            <h3>Quienes Somos</h3>
                            <p class="after" style="color:black;">Conoce a la gente asombrosa y creativa</p>
                
                            <DIV align="left"  class="quienessomos">
                
                                    <b>
                                
                                            Somos una empresa artesanal productora y comercializadora de alimentos de excelente calidad, comprometida en deleitar con cariño y calidez a la comunidad en que nos desenvolvemos. 
                                            Dedicamos el tiempo necesario a las necesidades de cada cliente.
                                            En Dulces y Postres "Delicias Dusan"  creamos deliciosos dulces y mini repostería , con exquisitas recetas, sabores de toda la vida o combinaciones originales. Hechos con ingredientes de la más alta calidad, con la más fina elaboración y precios accesibles. Así conseguimos que nuestros productos sean una delicia para los ojos y un capricho para el paladar, que se puede disfrutar en cualquier momento.
                                            Ofrecemos deliciosos mini postres, galletas, alfajores, tortas y muffins para cualquier evento, social.   Estamos horneando para ti,!
                                        </b>
                            </DIV>
                           
                        </section>
        
        
                
                        <section class="about" id="servicio" style="background-image: url( {% static 'core/img/teclado.jpg' %});">
                            <div class="contenedor" bag>
                                <h3>Postres Destacados</h3>
                                <p class="afters" style="color:white;">Siempre mejorando para ti</p>
                                <br>
                                <div class="card">
                                        <div class="content-card">
                                            
                                            <div class="people">
                                         
                                            <img src="{% static 'core/img/bizcochotartas.jpg' %}" alt="" >
                                         

                                                    
                                            </div>
                                            <div class="texto-team">
                                                <p style="color:white;">BIZCOCHO PARA TORTAS.</p>
                                            </div>
                                        </div>
                                        <div class="content-card">
                                            <div class="people">
                                                   <img src="{% static 'core/img/magdalenas-caseras-con-yogur.jpg' %}" alt="" >      
                                            </div>
                                            <div class="texto-team">
                                           
                                                <p style="color:white;">MAGDALENAS DE YOGUR</p>
                                            </div>
                                        </div>
                                        <div class="content-card">
                                            <div class="people">
                                                   <img src="{% static 'core/img/rosquillas-de-anis.jpg' %}" alt="" >
                                            </div>
                                            <div class="texto-team">
                                              
                                                <p style="color:white;">ROSQUILLAS DE ANIS</p>
                                            </div>
                                        </div>
                                    </div>
                           
        
                                
                            </section>
        
                           
                
        
                            <section class="work contenedor" id="trabajo">
                                <h3>Galeria</h3>
                                <p class="after" style="color:black;">Los postres han sido siempre el broche de oro de cualquier comida y obvio, lo mejor para el final. Porque queremos que te luzcas en tu próxima preparación, te presentamos las siguientes recetas de los mejores postres</p>
            
                                
                                <div class="botones-work">
                                        <ul>
                                            <li class="filter active" data-nombre='todos'>Todos</li>
                                            <li class="filter" data-nombre='diseño'>1</li>
                                            <li class="filter" data-nombre='programacion'>2</li>
                                            <li class="filter" data-nombre='marketing'>3</li>
                                        </ul>
                                    </div>
                                <div class="galeria-work">
                                    <div class="cont-work programacion">
                                        <div class="img-work">
                                            <img src="{% static 'core/img/imagen1.jpg' %}" alt="">
                                        </div>
                                        <div class="textos-work">
                                            <h4 >TARTA DE QUESO Y LECHE CONDENSADA</h4>
                                        </div>
                                    </div>
                                    <div class="cont-work programacion">
                                        <div class="img-work">
                                            <img src="{% static 'core/img/cheesecake-de-mango.jpg' %}" alt="">
                                        </div>
                                        <div class="textos-work">
                                            <h4 >CHEESECAKE DE MANGO</h4>
                                        </div>
                                    </div>
                                    <div class="cont-work programacion">
                                        <div class="img-work">
                                            <img src="{% static 'core/img/milhojas-de-crema-y-nata-portada.jpg' %}" alt="">
                                        </div>
                                        <div class="textos-work">
                                            <h4>MILHOJAS</h4>
                                        </div>
                                    </div>
                                    <div class="cont-work diseño">
                                        <div class="img-work">
                                            <img src="{% static 'core/img/TIRAMISU-FACIL.jpg' %}" alt="">
                                        </div>
                                        <div class="textos-work">
                                            <h4>TIRAMISÚ</h4>
                                        </div>
                                    </div>
                                    <div class="cont-work diseño">
                                        <div class="img-work">
                                            <img src="{% static 'core/img/torrijas_leche.jpg' %}" alt="">
                                        </div>
                                        <div class="textos-work">
                                            <h4>TORRIJAS</h4>
                                        </div>
                                    </div>
                                    <div class="cont-work diseño">
                                        <div class="img-work">
                                            <img src="{% static 'core/img/SUNDAE-CON-SALSA-DE-CARAMELO-SALADO.jpg' %}" alt="">
                                        </div>
                                        <div class="textos-work">
                                            <h4>SUNDAE CON SALSA DE CARAMELO SALADO</h4>
                                        </div>
                                    </div>
                                    <div class="cont-work marketing">
                                        <div class="img-work">
                                            <img src="{% static 'core/img/tarta-de-mousse-de-limon.jpg' %}" alt="">
                                        </div>
                                        <div class="textos-work">
                                            <h4>TARTA DE MOUSSE DE LIMÓN</h4>
                                        </div>
                                    </div>
                                    <div class="cont-work marketing">
                                        <div class="img-work">
                                            <img src="{% static 'core/img/tarta-de-la-abuela.jpg' %}" alt="">
                                        </div>
                                        <div class="textos-work">
                                            <h4>TARTA DE LA ABUELA</h4>
                                        </div>
                                    </div>
                                    <div class="cont-work marketing">
                                        <div class="img-work">
                                            <img src="{% static 'core/img/bizcocho-esponjoso-de-chocolate-blanco-2.jpg' %}" alt="">
                                        </div>
                                        <div class="textos-work">
                                            <h4>BIZCOCHO ESPONJOSO DE CHOCOLATE BLANCO</h4>
                                        </div>
                                    </div>
                                </div>
                            </section>
            </main>
          
         <footer id="contacto" style="background-image: url( {% static 'core/img/teclado.jpg' %});">
               
                <section class="contacto" id="formulario" >
                        <div class="contenedor">

        
                            <div class="footer contenedor">
        
                                <h3>Recetas de Dulces Caseros "Delicias Dusan"</h3>
                                <p style="color:white;">Contacto: +56982336330</p>
                                <p style="color:white;">Email: dulcesypostresdeliciasDusan@gmail.com</p>
                            
                        
                             </div>
                        </div>
                        
                    </section>
            
            </footer>




</body>
</html>