<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recetas Caseras</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/styleshome.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'core/css/font-awesome.min.css' %}"/>


     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body class="hidden" >

                <nav id="nav" class="nav1">
                    <div class="contenedor-nav">
        
                                  
                        <div class="logo">
                              <a href="{% url 'home' %}"> <img src="{% static 'core/img/logo.png' %}" alt=""></a>  
                         
                        </div>
                        <div class="enlaces" id="enlaces">
                            <a href="{% url 'home' %}" id="enlace-inicio" class="btn-header">Inicio</a>
 
                            {% if user.is_authenticated %}
                            <a href="#"> Bienvenido/a: {{ user.username }}</a>
                            <a href="#">Tu cuenta</a>
                            <a href="/logout">Cerrar sesión</a>
                            {% else %}
                            <a href="{% url 'login' %}" >Iniciar Sesion</a>
                            <a href="{% url 'register' %}" >Registrate</a>
                            {% endif %}
              

                        </div>
                        <div class="icono" id="open">
                            <span>&#9776;</span>
                        </div>
                    </div>
                </nav>
       

            <main>
             <section class="team contenedor" id="equipo">
                            
                    </section>
        
                    <section class="team contenedor" id="equipo">
                          
                        
                            <h3>Bienvenido/a  {{ user.username }} a tu cuenta:</h3>
  
                           
                        <a href="{% url 'ListadoPedidosCliente' %}" text-align="right"><button style="float: center; width:30%; padding:10px 12px; background-color:#337ab7; "  type="submit" class="btn btn-success">Ver Listado de Pedidos&raquo;</button></a>
                        
                         
                         
                        </section>
  <div class="container">
                             {% block contenido %}
                           
                           {% endblock contenido %}
                          
                           </div>
                     
            </main>

                



            <!--FORMULARIO PARA NUEVA COMPRA¡-->
        
            <script src="{% static 'core/js/jquery.js' %}"></script>
            <script src="{% static 'core/js/main.js' %}"></script>
            <script src="{% static 'core/js/filtro.js' %}"></script>



</body>
</html>
