   <!DOCTYPE html>
   <html>
   <head>
     <title>FORMULARIO CONTACTO</title>
  {% load static %}    
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

     </head>
   <body> 
<div class="container" style="width: 50%; padding:3px 2px; ">
  <h3>FORMULARIO CONTACTO</h3> 
    {% load crispy_forms_tags %}
   <form method="POST">
    {% csrf_token %}
   {{ form | crispy }}
  <input type="submit" value="Enviar" class="btn btn_success" style="background-color:#337ab7;">
    <input type="reset" value="Limpiar" class="btn btn_info" style="background-color:#337ab7;">

   </form>

<div class="float-right">
    <p><a href="{% url 'home' %}" text-align="right"><button style=" "  type="submit" class="btn btn-success">Volver al Inicio&raquo;</button></a></p>
</div>
</div>




  </body>
  </html>