<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recetas Caseras</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/styleshome.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'core/css/font-awesome.min.css' %}"/>

       <link href="{% static 'core/css/modal.css' %}" rel="stylesheet">
     
</head>
<body class="hidden" >

    
        <header  >
             
                <nav id="nav" class="nav1">
                    <div class="contenedor-nav">
        
                                  
                        <div class="logo">
                              <a href="{% url 'home' %}"> <img src="{% static 'core/img/logo.png' %}" alt=""></a>  
                         
                        </div>
                        <div class="enlaces" id="enlaces">
                            <a href="{% url 'home' %}" id="enlace-inicio" class="btn-header">Inicio</a>
                            <a href="#" id="enlace-equipo" class="btn-header">Quienes Somos</a>
                            <a href="#" id="enlace-servicio" class="btn-header">Recetas Destacadas</a>
                            <a href="#" id="enlace-trabajo" class="btn-header">Galeria</a>
                            <a href="{% url 'Contacto' %}" >Contacto</a>
    
                            
                            {% if user.is_authenticated %}
                            <a href="#"> Bienvenido/a: {{ user.username }}</a>
                            <a href="{% url 'CuentaCliente' %}">Tu cuenta</a>
                            <a href="/logout">Cerrar sesión</a>
                            {% else %}
                            <a href="{% url 'login' %}" >Iniciar Sesion</a>
                            <a href="{% url 'register' %}" >Registrate</a>
                            {% endif %}
              

                        </div>
                        <div class="icono" id="open">
                            <span>&#9776;</span>
                        </div>
                    </div>
                </nav>
                <div class="textos" style="background-image: url( {% static 'core/img/as.jpg' %}">
        
                         <a href="{% url 'home' %}"> <img src="{% static 'core/img/logo.png' %}" alt=""></a>  
            
                    <h1>Venta de Dulces y Postres Caseros</h1>
                    <h2>Ya estas Registrado, revisa nuestras ofertas y realiza pedidos a domicilio</h2>
                </div>
            </header>





    
            <main>
        
                    <section class="team contenedor" id="equipo">
                          
                        
                            <h3>Quienes Somos</h3>
                            <p class="after" style="color:black;">Conoce a la gente asombrosa y creativa</p>
                
                            <DIV align="left"  class="quienessomos">
                
                                    <b>
                                
                                            Somos una empresa artesanal productora y comercializadora de alimentos de excelente calidad, comprometida en deleitar con cariño y calidez a la comunidad en que nos desenvolvemos. 
                                            Dedicamos el tiempo necesario a las necesidades de cada cliente.
                                            En Dulces y Postres "Delicias Dusan"  creamos deliciosos dulces y mini repostería , con exquisitas recetas, sabores de toda la vida o combinaciones originales. Hechos con ingredientes de la más alta calidad, con la más fina elaboración y precios accesibles. Así conseguimos que nuestros productos sean una delicia para los ojos y un capricho para el paladar, que se puede disfrutar en cualquier momento.
                                            Ofrecemos deliciosos mini postres, galletas, alfajores, tortas y muffins para cualquier evento, social.   Estamos horneando para ti,!
                                        </b>
                            </DIV>
                           
                        </section>
        
        
                
                        <section class="about" id="servicio" style="background-color:rgb(35, 85, 92);">
                            <div class="contenedor" bag>
                                <h3>Postres Destacados</h3>
                                <p class="afters" style="color:white;">Siempre mejorando para ti</p>
                                <br>
                                <div class="card">
                                        <div class="content-card">
                                            
                                            <div class="people">
                                         
                                            <a href="{% url 'Recetauno' %}"><img src="{% static 'core/img/bizcochotartas.jpg' %}" alt="" title="VER MAS"></a>
                                            
         
                                            </div>
                                            <div class="texto-team">
                                                <p style="color:white;">BIZCOCHO PARA TORTAS</p>
                                                <p style="color:white;">$2000</p>
                                                
                                                <a href="{% url 'Recetauno' %}"><button  style="width: 30%; margin-bottom: 10px; padding: 5px; font-size: 15px; border: none;">Ver Detalle</button></a>

                                            </div>
                                        </div>
                                        <div class="content-card">
                                            <div class="people">
                                                    <a href="{% url 'Recetados' %}"><img src="{% static 'core/img/magdalenas-caseras-con-yogur.jpg' %}" alt="" title="VER MAS"></a>      
                                            </div>
                                            <div class="texto-team">
                                           
                                                <p style="color:white;">MAGDALENAS DE YOGUR</p>
                                                <p style="color:white;">$500 c/u</p>
                                                <a href="{% url 'Recetados' %}"><button  style="width: 30%; margin-bottom: 10px; padding: 5px; font-size: 15px; border: none;">Ver Detalle</button></a>
                                            </div>
                                        </div>
                                        <div class="content-card">
                                            <div class="people">
                                                    <a href="{% url 'Recetatres' %}">  <img src="{% static 'core/img/rosquillas-de-anis.jpg' %}" alt="" title="VER MAS"></a> 
                                            </div>
                                            <div class="texto-team">
                                              
                                                <p style="color:white;">ROSQUILLAS DE ANIS</p>
                                                <p style="color:white;">$500 c/u</p>
                                                <a href="{% url 'Recetatres' %}"><button  style="width: 30%; margin-bottom: 10px; padding: 5px; font-size: 15px; border: none;">Ver Detalle</button></a>
                                            </div>
                                        </div>
                                    </div>
                           
        
                                
                            </section>
        
                           
                
        
                            <section class="work contenedor" id="trabajo" >
                                <h3>GALERIA</h3>
                                <p class="after" style="color:black;">Revisa las ofertas y pide a domicilio</p>
            
                                
                                <div class="botones-work">
                                        <ul>
                                            <li class="filter active" data-nombre='todos'>Todos</li>
                                            <li class="filter" data-nombre='diseño'>1</li>
                                            <li class="filter" data-nombre='programacion'>2</li>
                                            <li class="filter" data-nombre='marketing'>3</li>
                                        </ul>
                                    </div>
                                
                                
                                <div class="galeria-work">
                                    <div class="cont-work programacion">
                                    
                                        <div class="img-work" >
                                            <img src="{% static 'core/img/imagen1.jpg' %}" alt="">
                                             <div class="textos-work">
                                            <h4 >TARTA DE QUESO Y LECHE CONDENSADA: $1000 c/u
                                            
                                            </h4>
                                            
                                            
                                        </div>
                                            
                                        </div>
                                        <a href="{% url 'Recetauno' %}"><button  style="width: 30%; margin-bottom: 10px; padding: 5px; font-size: 15px; border: none;">Ver Detalle</button></a>
                                        
                                        
                                    </div>
                                    
                                    <div class="cont-work programacion">
                                        <div class="img-work">
                                            <img src="{% static 'core/img/cheesecake-de-mango.jpg' %}" alt="">
                                            <div class="textos-work">
                                            <h4 >CHEESECAKE DE MANGO</h4>
                                            <p style="color:black;">$1000 c/u</p>
                                        </div>
                                        </div>
                                         <a href="{% url 'Recetauno' %}"><button  style="width: 30%; margin-bottom: 10px; padding: 5px; font-size: 15px; border: none;">Ver Detalle</button></a>
                                    </div>
                                    <div class="cont-work programacion">
                                        <div class="img-work">
                                            <img src="{% static 'core/img/milhojas-de-crema-y-nata-portada.jpg' %}" alt="">
                                              <div class="textos-work">
                                            <h4>MILHOJAS</h4>
                                            <p style="color:black;">$2500 c/u</p>
                                        </div>
                                        </div>
                                          <a href="{% url 'Recetauno' %}"><button  style="width: 30%; margin-bottom: 10px; padding: 5px; font-size: 15px; border: none;">Ver Detalle</button></a>
                                    </div>
    
                                    <div class="cont-work diseño">
                                        <div class="img-work">
                                            <img src="{% static 'core/img/TIRAMISU-FACIL.jpg' %}" alt="">
                                             <div class="textos-work">
                                            <h4>TIRAMISÚ</h4>
                                            <p style="color:black;">$1000 c/u</p>
                                        </div>
                                        </div>
                                           <a href="{% url 'Recetauno' %}"><button  style="width: 30%; margin-bottom: 10px; padding: 5px; font-size: 15px; border: none;">Ver Detalle</button></a>
                                    </div>
  
                                    <div class="cont-work diseño">
                                        <div class="img-work">
                                            <img src="{% static 'core/img/torrijas_leche.jpg' %}" alt="">
                                            <div class="textos-work">
                                            <h4>TORRIJAS</h4>
                                            <p style="color:black;">$500 c/u</p>
                                        </div>
                                        </div>
                                          <a href="{% url 'Recetauno' %}"><button  style="width: 30%; margin-bottom: 10px; padding: 5px; font-size: 15px; border: none;">Ver Detalle</button></a> 
                                    </div>
   
                                    <div class="cont-work diseño">
                                        <div class="img-work">
                                            <img src="{% static 'core/img/SUNDAE-CON-SALSA-DE-CARAMELO-SALADO.jpg' %}" alt="">
                                             <div class="textos-work">
                                            <h4>SUNDAE CON SALSA DE CARAMELO SALADO: $1500 c/u</h4>
                                            
                                        </div>
                                        </div>
                                        <a href="{% url 'Recetauno' %}"><button  style="width: 30%; margin-bottom: 10px; padding: 5px; font-size: 15px; border: none;">Ver Detalle</button></a>  
                                    </div>
     
                                    <div class="cont-work marketing">
                                        <div class="img-work">
                                            <img src="{% static 'core/img/tarta-de-mousse-de-limon.jpg' %}" alt="">
                                             <div class="textos-work">
                                            <h4>TARTA DE MOUSSE DE LIMÓN</h4>
                                            <p style="color:black;">$1000 c/u</p>
                                        </div>
                                        </div>
                                        <a href="{% url 'Recetauno' %}"><button  style="width: 30%; margin-bottom: 10px; padding: 5px; font-size: 15px; border: none;">Ver Detalle</button></a>   
                                    </div>
    
                                    <div class="cont-work marketing">
                                        <div class="img-work">
                                            <img src="{% static 'core/img/tarta-de-la-abuela.jpg' %}" alt="">
                                            <div class="textos-work">
                                            <h4>TARTA DE LA ABUELA</h4>
                                            <p style="color:black;">$2500 c/u</p>
                                        </div>
                                        </div>
                                         <a href="{% url 'Recetauno' %}"><button  style="width: 30%; margin-bottom: 10px; padding: 5px; font-size: 15px; border: none;">Ver Detalle</button></a>  
                                    </div>
                             
                                    <div class="cont-work marketing">
                                        <div class="img-work">
                                            <img src="{% static 'core/img/bizcocho-esponjoso-de-chocolate-blanco-2.jpg' %}" alt="">
                                             <div class="textos-work">
                                            <h4>BIZCOCHO ESPONJOSO DE CHOCOLATE BLANCO: $2500 c/u</h4>
                                        </div>
                                        </div>
                                         <a href="{% url 'Recetauno' %}"><button  style="width: 30%; margin-bottom: 10px; padding: 5px; font-size: 15px; border: none;">Ver Detalle</button></a>  
                                    </div>
                                </div>
                            </section>
            </main>
          
         <footer id="contacto" style="background-color:rgb(35, 85, 92);">
               
                <section class="contacto" id="formulario" >
                        <div class="contenedor">

        
                            <div class="footer contenedor">
        
                                <h3>Recetas de Dulces Caseros "Delicias Dusan"</h3>
                                <p style="color:white;">Contacto: +56982336330</p>
                                <p style="color:white;">Email: dulcesypostresdeliciasDusan@gmail.com</p>
                            
                        
                             </div>
                        </div>
                        
                    </section>
            
            </footer>
            <script src="{% static 'core/js/jquery.js' %}"></script>
            <script src="{% static 'core/js/main.js' %}"></script>
            <script src="{% static 'core/js/filtro.js' %}"></script>



</body>
</html>