{% extends 'core/CuentaCliente.html' %}
  {% load static %}    


{% block contenido %}

<h1>Listado Productos Pedidos</h1>

        <table  class="table table-striped">
    <thead>
                <tr>
                  <th>Nombre Cliente:</th>
                  <th>Apellidos: </th>
                  <th>Telefono:  </th>
                  <th>Correo:</th>
                  <th>Direccion:</th>
                  <th>Modo Pago:</th>
                  <th>Nombre Producto:</th>
                  <th>OPCIONES:</th>

                </tr> 
            
            
    {% for p in pedidos %}

                <tr>
   
    <td>{{ p.NombreCliente }}</td>
    <td>{{ p.Apellidos }} </td>
    <td> {{ p.Telefono }}</td>
    <td>{{ p.Correo }}</td>
    <td>{{p.Direccion }}</td>
    <td>{{ p.ModoPago }}</td>
    <td>{{ p.NombreProducto }}</td>
    
    <td>
    <a href="{% url 'ModificarPedidos' p.id %}">Modificar</a>   
    <a href="{% url 'EliminarPedido' p.id %}">Eliminar</a>

    </td>
    


</tr>
 {% endfor %}
            
        </table>

{% endblock %}


