{% extends 'core/CuentaCliente.html' %}

  {% load static %}    
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% block contenido %}



      <div class="container">
 <h3 style="color: white">Modificar Pedidos</h3>
    {% load crispy_forms_tags %}
   <form method="POST">

{% csrf_token %}

   {{ form | crispy }}

<input type="submit" value="Modificar" class="btn btn_success" style="background-color:#337ab7;">
    <input type="reset" value="Limpiar" class="btn btn_info" style="background-color:#337ab7;">
</form>

        <div class="float-right">
          <p><a href="{% url 'ListadoPedidosCliente' %}" text-align="right"><button  type="submit" class="btn btn-success">Volver al Listado &raquo;</button></a></p>
      </div>

        </div>
  


{% endblock %}




    
