{% extends "registration/Login.html" %}

{% block title %}Editar contraseña confirmado{% endblock %}

{% block content %}
<div class="PasswordChangeDone">
    <h3>Constraseña modificada exitosamente</h3>
    <a href="{% url 'base' %}" class="btn btn-theme">Volver a mi dashboard</a>
</div>

{% endblock %}