<!DOCTYPE html>
   <html>
   <head>
     <title>RECUPERAR CONTRASEÑA</title>
  {% load static %}    
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
   </head>
   <body> 



<div class="container">
<br>


   {% load crispy_forms_tags %}
  <div class="PasswordResetForm">
    <div class="row">
      <div class="col-md-4 offset-md-4">
       <h3>RECUPERAR CONTRASEÑA</h3> 
<br>
        <br>

<form method="post">
	{% csrf_token %}
 {{ form | crispy }}
 
	<input type="submit" value="Enviar" class="btn btn-success" />
  
</form>

        <br>
        <br>


<div class="float-right">
        
<a href="{% url 'login' %}"><input type="submit" value="Ir al Login" class="btn btn-success" /></a>
<a href="{% url 'register' %}"><input type="submit" value="Ir a Registro" class="btn btn-success" /></a>
      </div>
    </div>
</div>
</div>
        <br>



  </body>
  </html>