
<!DOCTYPE html>
   <html>
   <head>
     <title>INICIO SESION</title>
  {% load static %}    
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
   </head>
   <body> 

<section class="PasswordResetDone">
    <h3>Recuperación de contraseña.</h3>

    <p>Hemos enviado un correo electrónico con las instrucciones para recuperar su contraseña</p>

    <a href="{% url 'home' %}" class="btn btn-info">Volver al Inicio</a>
</section>




  </body>
  </html>