

p {
	font-size: 14px;
}

/* Generico CSS */

.section-title {
	padding-top: 90px;
	padding-bottom: 50px;
}

.section-title h2 {
	position: relative;
	text-align: center;
	color: #333;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

.section-title h2:after {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 50%;
	width: 60px;
	height: 1px;
	background-color: #129cf3;
	margin-left: -30px;
}

.section-title p {
	color: #333;
	font-size: 18px;
	line-height: 28px;
	font-weight: 300;
	text-align: center;
	margin-top: 45px;
}



/* Contactatos */

.contact-us-form .form-control {
	display: block;
	width: 120%;
	height: 50px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 21px;
	color:black;
	background-color: transparent;
	border: 1px solid #aeaeae;
	border-radius: 3px;
	margin-bottom: 15px;
	opacity: .8;
	outline: 0;
	padding-top: 4px;

	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	-moz-transition: all 1s ease;
}

#mensaje {
	height: 140px;
	resize: none;
	width: 300%;
	
}

.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {
	width: 200%;
	height: 50px;

	text-transform: uppercase;
	font-size: 18px;
	color: #129cf3;
	background-color: transparent;
	border: 1px solid #129cf3;
	border-radius: 4px;

	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	-moz-transition: all 1s ease;

}

.submit-btn:hover {
	background-color: #129cf3;
	color: #fff;
	border-color: #129cf3;
}

.social-icons {
	padding-top: 50px;
	padding-bottom: 70px;
}

.social-icons ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

.social-icons ul li {
	list-style-type: none;
	display: inline;
	padding-left: 10px;
}

.social-icons ul li a {
	width: 45px;
	height: 45px;

	text-decoration: none;
	display: inline-block;
	text-align: center;
	border: 1px solid #9d9d9d;
	border-radius: 3px;

	line-height: 49px;
	color: #9d9d9d;

	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	-moz-transition: all 1s ease;

}

.social-icons ul li a:hover {
	background-color: #129cf3;
	border: 1px solid #129cf3;
	color: #fff;
}

.social-icons ul li a i {
	font-size: 20px;
}



